@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * BASE resetting default browser styles or defining typography defaults
 */
@layer base {
  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block w-full bg-transparent outline-none;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }

  body {
    @apply bg-light-background text-light-onBackground dark:bg-dark-background dark:text-dark-onBackground;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2 rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-transparent;
  }

  *:hover::-webkit-scrollbar-thumb {
    @apply bg-light-onBackground/15 dark:bg-dark-onBackground/15;
  }
}

/*
  * COMPONENTS defining reusable components
  */
@layer components {
  /*
    * Text field
    */

  .text-field-wrapper {
    @apply relative;
  }

  .text-field {
    @apply h-14 rounded-extraSmall bg-inherit px-4 text-light-onSurface caret-light-primary ring-1 ring-inset ring-light-outline transition-shadow duration-short3 ease-linear hover:ring-light-onSurface focus:ring-2 focus:ring-light-primary dark:text-dark-onSurface dark:caret-dark-primary dark:ring-dark-outline dark:hover:ring-dark-onSurface dark:focus:ring-dark-primary;
  }

  .text-field::placeholder {
    @apply opacity-0 transition-opacity;
  }

  .text-field:focus::placeholder {
    @apply opacity-100;
  }

  .label-text {
    @apply transition-[color,transform] pointer-events-none absolute left-2 top-[18px] origin-[center_left] select-none bg-light-background px-2 text-labelLarge text-light-onSurfaceVariant duration-short4 ease-standard dark:bg-dark-background dark:text-dark-onSurfaceVariant;
  }

  .text-field-wrapper:hover .label-text {
    @apply text-light-onSurface dark:text-dark-onSurface;
  }

  .text-field-wrapper:focus-within .label-text,
  .text-field-wrapper:has(.text-field:not(:placeholder-shown)) .label-text {
    @apply -translate-y-7 translate-x-0.5 scale-[0.85];
  }

  .text-field-wrapper:focus-within .label-text {
    @apply text-light-primary dark:text-dark-primary;
  }

  .text-field-wrapper .helper-text {
    @apply px-4 pt-1 text-left text-bodySmall text-light-onSurfaceVariant dark:text-dark-onSurfaceVariant;
  }

  /*
      * Button
      */

  .btn {
    @apply flex h-10 items-center justify-center rounded-full px-4 text-labelLarge transition-shadow duration-short3 ease-standard hover:shadow-elevation1 focus:shadow-none;
  }

  .btn.filled.primary {
    --state-layer-bg: theme('colors.light.onPrimary');
    @apply bg-light-primary text-light-onPrimary dark:bg-dark-primary dark:text-dark-onPrimary;
  }

  @media (prefers-color-scheme: dark) {
    .btn.filled.primary {
      --state-layer-bg: theme('colors.dark.onPrimary');
    }
  }

  .btn.filled.disabled {
    @apply pointer-events-none bg-light-onSurface/[0.12] text-light-onSurface/[0.38] dark:bg-dark-onSurface/[0.12] dark:text-dark-onSurface/[0.38];
  }

  /**
  * State layer
  */
  :has(> .state-layer) {
    @apply relative isolate overflow-hidden;
  }

  .state-layer {
    @apply pointer-events-none absolute inset-0 -z-10 select-none bg-[--state-layer-bg] opacity-0 transition-opacity duration-short3 ease-standard;
  }

  :has(> .state-layer):hover > .state-layer {
    @apply opacity-[0.08];
  }

  :has(> .state-layer):where(:focus, :focus-visible, :focus-within)
    > .state-layer {
    @apply opacity-[0.1];
  }

  /**
  * Link
  */

  .link {
    @apply transition-colors duration-short3 ease-standard hover:text-light-primary hover:underline dark:hover:text-dark-primary;
  }

  /**
  * Progress
  */
  .circular-progress {
    @apply h-12 w-12 animate-spin rounded-full border-4 border-current border-r-transparent dark:border-current dark:border-r-transparent;
  }

  .circular-progress.small {
    @apply h-5 w-5 border-[3px];
  }

  .liner-progress {
    @apply mx-1 h-1 origin-top overflow-hidden rounded-full bg-light-secondaryContainer dark:bg-dark-secondaryContainer;
  }

  .liner-progress .active-indicator {
    @apply h-[inherit] origin-right -translate-x-full rounded-full bg-light-primary dark:bg-dark-primary;
  }

  /**
  * Snackbar
  */
  .snackbar {
    @apply /* Response for small screen */
    fixed bottom-4 left-4 right-4 z-40 min-h-12 min-w-[36ch] max-w-[60ch] origin-bottom rounded-extraSmall bg-light-inverseSurface px-4 py-[14px] text-bodyMedium text-light-inverseOnSurface shadow-elevation3 sm:bottom-6 sm:left-6 sm:right-auto sm:w-max dark:bg-dark-inverseSurface dark:text-dark-inverseOnSurface;
  }

  .snackbar.error {
    @apply bg-light-errorContainer text-light-onErrorContainer;
  }

  /**
  * Icon button
  */
  .icon-btn {
    --state-layer-bg: theme('colors.light.onSurfaceVariant');
    @apply grid h-10 w-10 place-items-center rounded-full text-light-onSurfaceVariant dark:text-dark-onSurfaceVariant;
  }

  @media (prefers-color-scheme: dark) {
    .icon-btn {
      --state-layer-bg: theme('colors.dark.onSurfaceVariant');
    }
  }

  .icon-btn.disabled {
    @apply cursor-not-allowed text-light-onSurfaceVariant/[0.38] dark:text-dark-onSurfaceVariant/[0.38];
  }

  .icon-btn.small {
    @apply h-7 min-h-7 w-7 min-w-7;
  }

  .icon-btn.small .icon {
    @apply text-[18px];
  }

  .icon-btn.large {
    @apply h-12 min-h-12 w-12 min-w-12;
  }

  /**
  * Avatar
  */
  .avatar {
    @apply aspect-square min-w-[32px] max-w-[32px] overflow-hidden rounded-full bg-light-surfaceContainerHighest dark:bg-dark-surfaceContainerHighest;
  }

  /**
  * Menu
  */
  .menu-wrapper {
    @apply relative;
  }

  .menu {
    @apply transition-[transform,opacity,visibility] invisible absolute right-0 top-[calc(100%+4px)] z-20 min-w-[112px] max-w-[280px] origin-top-right scale-75 rounded-extraSmall bg-light-surfaceContainer py-2 opacity-0 shadow-elevation2 duration-short4 ease-standard dark:bg-dark-surfaceContainer;
  }

  .menu.active {
  }

  .menu-item {
    --state-layer-bg: theme('colors.light.onSurface');
    @apply flex h-12 w-full items-center px-3 text-labelLarge text-light-onSurface dark:text-dark-onSurface;
  }

  @media (prefers-color-scheme: dark) {
    .menu-item {
      --state-layer-bg: theme('colors.dark.onSurface');
    }
  }

  /**
  * Sidebar
  */
  .sidebar {
    @apply /* Response for small screen */
    sm:max-w-[320px]
    /* Response for large screen */
    fixed left-0 top-0 z-40 h-dvh w-[80vw] max-w-[80-vw] overflow-hidden rounded-e-large bg-light-surfaceContainerLow text-light-onSurface shadow-elevation1 transition-[width] duration-short4 ease-emphasized lg:visible lg:static lg:w-full lg:rounded-none lg:opacity-100 lg:shadow-none dark:bg-dark-surfaceContainerLow dark:text-dark-onSurface;
  }

  .sidebar.active {
    @apply /* Response for small screen */
    w-[80vw] duration-medium2 ease-standardDecelerate sm:w-[320px];
  }

  .sidebar-inner {
    @apply grid-rows-[max-content,max-content,1fr,max-content] grid h-full grid-cols-1 px-3 opacity-0 transition-opacity duration-medium2
    /* Response for large screen */
    lg:opacity-100;
  }
  .sidebar.active .sidebar-inner {
    @apply opacity-100
    delay-short2;
  }

  /**
  * Overlay
  */
  .overlay {
    @apply fixed top-0 left-0 w-full h-dvh z-30 bg-transparent invisible transition-colors
    /* Response for large screen */
    lg:hidden;
  }
  .overlay.active {
    @apply bg-black/40 visible
  }
}

/*
  * UTILITIES defining utility classes
  */
@layer utilities {
  .img-box {
    @apply overflow-hidden bg-light-surfaceContainerHighest dark:bg-dark-surfaceContainerHighest;
  }

  .img-cover {
    @apply h-full w-full object-cover;
  }

  .material-symbols-rounded {
    font-variant-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;

    @apply h-[1em] min-h-[1em] w-[1em] min-w-[1em] overflow-hidden;
  }

  .icon-small {
    @apply text-[18px];
  }
}
