.join-section {
    background-image: linear-gradient(to right, rgba(5,10,35,0.6), rgba(5,10,35,0.6)), url(../../assets/Images/hero-1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}